.main-content-wrapper {
  display: grid;
  place-items: center;
  margin-top: 10vh;

  @media (min-height: 600px) {
    margin-top: 30vh;
  }

  @media (min-height: 1000px) {
    margin-top: 50vh;
  }
}

.play-button {
  width: 300px;
  height: 150px;
  font-size: 48px;
  padding: 0.5rem 1rem;
  background: #76ce98;
  color:  #ffffff;
  border-radius: 20px;
  border: 6px solid white;
  cursor: pointer;
}

.game-stats {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background: #d1f5de;
  width: 95vw;
  text-align: center;

  @media (min-width: 600px) {
    width: 450px;
  }
}

.game-stats h2 {
  word-break: break-all;
  padding: 2px;
}

.game-stats h3 {
  word-break: break-all;
  padding: 2px;
}

.stats-grid {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.loader-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #000000;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #00ffbf;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}